In [1]:
import warnings
warnings.filterwarnings('ignore', category=FutureWarning, module='arch._utility')

In [2]:
import numpy as np
import pandas as pd
import yfinance as yf
import matplotlib.pyplot as plt
import scipy
from scipy.stats import norm

In [3]:
warnings.filterwarnings("ignore")

In [4]:
import pandas as pd

In [5]:
from arch import arch_model

In [6]:
import arch.__future__._utility as arch_utility
arch_utility.reindex = True

In [7]:
stock='AXISBANK.NS'
data=yf.download(stock,'2005-01-01','2023-05-05')
data

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2005-01-03,37.000000,38.200001,37.000000,38.040001,32.853146,1421010
2005-01-04,38.220001,38.400002,37.400002,37.939999,32.766781,1115825
2005-01-05,37.990002,37.990002,35.509998,36.849998,31.825397,1163085
2005-01-06,36.820000,38.000000,35.400002,37.029999,31.980858,1192610
2005-01-07,36.130001,38.380001,36.130001,38.020000,32.835865,1530260
...,...,...,...,...,...,...
2023-04-27,888.000000,890.000000,877.500000,881.400024,879.590454,15992383
2023-04-28,885.099976,890.049988,853.650024,860.000000,858.234375,23004117
2023-05-02,870.000000,876.400024,864.250000,870.650024,868.862549,12947953
2023-05-03,863.849976,866.849976,854.049988,859.849976,858.084717,15103015
2023-05-04,860.000000,867.150024,857.500000,865.950012,864.172180,9756391

In [8]:
returns=np.diff(data['Adj Close'])
returns

array([ -0.08636475,  -0.94138336,   0.15546036, ...,  10.62817383,
       -10.77783203,   6.08746338])

In [9]:
import torch
import torch.nn as nn

In [10]:
import pandas as pd
import numpy as np
import arch

In [11]:
returns.shape

(4524,)

In [12]:
def garchquantile(returns):
  garch_model = arch.arch_model(returns, vol='Garch', p=1, q=1)
  garch_result = garch_model.fit(disp='off')
  garch_forecasts = garch_result.forecast(start=0)
  forecasted_volatility = np.sqrt(garch_forecasts.variance.values[-1])
  confidence_level = 0.05  # 95% confidence level
  z_score = norm.ppf(confidence_level)
  VaR = -z_score * forecasted_volatility
  return VaR

In [14]:
predictions=np.zeros(453)
for i in range(453):
  predictions[i]=(garchquantile(returns[0:4071+i]))

In [15]:
ans=returns[4071:]
ans.shape

(453,)

In [16]:
error=predictions+ans
error

array([ 14.26355104,  20.35694478,   6.99847519,   8.37802727,
        21.45154639,  32.0707907 ,  15.26823989,  19.62144055,
        12.18495548,  -1.08915134,   6.26014254,  16.67597033,
        23.868297  ,  16.07480588,  -9.75514029,   8.4408277 ,
        11.45334203,   8.44162336,  28.83095117,  34.2042395 ,
        32.78071214,  13.60639031,   9.26132399,  32.10530303,
        23.93186565,  16.81035719,  13.64247004,  19.20998097,
        18.3302971 ,  10.57574239,  13.17148008,   1.017988  ,
        11.55091116,  25.55754228,   8.13957069,  22.53166781,
        21.11797175,  46.38799994,  21.21727729,  30.63690531,
        22.16966133,  13.26172221,  20.33874871,   4.19818251,
        24.2009318 ,  12.55496765,  14.92544156,  22.31547149,
        13.00784601,  26.76918446,  20.49217992,   3.96895593,
        15.1491392 ,   8.25254787,  38.77431718,   3.13192353,
        16.47429034,   9.38107482,   9.881191  ,   1.1295439 ,
        18.87863521,  27.64273681,  20.45546894,  12.82807689,
        14.2414765 ,  20.50248749,  20.5324946 ,  25.02202475,
        12.57732347,  22.16778292,  25.81951442,   3.21946209,
        18.24160611,  17.72833909,  23.2516645 ,  42.67811251,
        14.41805931, -37.02553521,  -2.39576327,  11.97597186,
        38.51038409,  31.17604915,  21.71549978,  28.6274266 ,
        23.67884176,  18.90226781,  28.59816269,  12.44789782,
        21.47407279,  20.05401358,  15.18905494,   8.07483956,
        15.90485115,   1.54056026,  21.44592507,  21.09332022,
        15.7780397 ,   2.46594921,  10.54731849,  25.52129457,
        44.35426608,  18.38968553,  18.24279979,  10.93240657,
        44.40149249,  32.01889357,  18.55525071,  15.26833679,
        36.60310389,  27.88740926,  22.19898537,  17.21793586,
        -1.12545563,   6.10303214,  12.33612455,  24.00176493,
        29.40955868,   8.51092834,  24.35054156,  22.55951675,
        13.8489869 ,  16.73116049,  27.55560038,  35.51496989,
        31.30134012,  36.35963013,  22.73973957,  19.16885706,
        30.51965681,  18.89269824,  21.529478  ,  11.38060419,
        -1.73130142,   9.22427281,  30.59487793,  22.59815791,
        17.10125321,   0.97885818,  10.11341289,  65.19042852,
        46.4238174 ,  16.40565543,  33.39644376,  33.42456423,
        46.28213466,  20.40755389,  23.34104066,  14.77285215,
        32.23048676,  28.2178183 ,  28.33971131,  15.94093275,
        -8.87892497,  47.35791433,  24.92605882,   9.964686  ,
        28.71950194,  24.99995601,  13.26932304,  20.69536116,
       -24.68710262,  55.4323974 ,  13.37781479,  36.6407551 ,
        15.64070367,   5.29499032, -18.83764553,  35.84733981,
        35.91531187,  51.96898752,  27.34666432,  49.77919767,
        18.82772741,  55.79394945,  46.25718934,  17.33012769,
        35.73110248,  24.87328272,  24.30327507,  27.06779745,
        42.02000159,  28.95035007,  39.04699757,  36.82589916,
        39.12732971,  35.09982013,  24.1617486 ,  15.11531984,
        42.44005366,  27.22999218,  14.99049064,  35.77478417,
        17.87424722,  28.50772062,  21.18461458,  18.5407807 ,
        28.16351963,  -0.45415473,  21.79089423,  15.41930029,
        11.57981549,  34.24738998, -30.49807911,  26.47986378,
         6.92660408,  22.53476687,  -2.13235513,  18.51800121,
        23.75425368,  39.56729254,   4.09394671,  13.72001992,
        30.13723178,  42.40398389,  30.92130888,  16.58509417,
        48.1880112 ,  28.35894056,  14.18953511,  26.10382174,
        42.68829862,  29.82714447,  29.54540374,  15.2415749 ,
        24.115632  ,  28.13914292,   7.95582834,  17.16662008,
        15.41130104,  14.09356803,  23.62091953,  19.79864224,
         8.14842821,  21.63255159,  19.0705371 ,   3.25753178,
        19.54095874,  11.85032455,  26.5922099 ,   8.51258011,
        20.61617838,  22.2487982 ,  20.31024278,  22.01529386,
        -0.30272257,  28.4580609 ,  24.42861697,  27.40506387,
        11.20182324,  26.14276272,  17.84946695,  27.18373831,
        26.9759871 ,  12.71288025,  19.6710734 ,   3.97726376,
         9.79999472,  37.83667383,  33.39550052,  22.99713169,
        27.35791714,  32.61913788,  14.50973632,  -3.37596148,
        31.24154589,  25.78758231,  17.37743465,  24.08065726,
        17.35701633,  17.28944502,   7.90197262,  23.57568455,
        33.45953897,  10.68593283,  36.76618306,  19.78312183,
        21.71231794,  24.65914066,   9.95185764,   9.23566664,
         0.9515922 ,  22.37659822,  19.93894466,   9.65268312,
        17.7597721 ,  -0.37499283,  39.31655839,  10.88096313,
        23.99630288,  23.51284214,  11.21219922,  22.39268041,
        40.98148133,  23.67959468,  34.31268102,  23.24224268,
        15.79848002,   4.81353298,  17.35488159,  26.37267723,
        32.04884083,  11.6328393 ,   0.19364148,  -2.29626263,
        -6.54469914,  16.19192273,  -0.18877378,  24.31607971,
        35.38214712,  10.88496411,  41.13671881,  34.15827759,
        22.38529103,  42.31846577,  30.78501097,  44.85980087,
        16.18566698,  20.91760813,  35.46284153,  24.04543646,
        34.75995323,  17.32982838,  95.22548866,  43.55548951,
        27.16762276,  45.21459423,  20.30699532,  34.79664096,
        -3.1620273 ,  24.67645058,  32.63251897,  35.32681634,
        35.32530281,  30.48089832,  -0.98781095,  37.35105666,
        29.97606981,  36.52930361,  25.03269766,  30.36688654,
        27.85893991,  37.00501546,  25.78693915,  29.75338304,
        28.35221829,  33.08778256,  27.47058858,  23.80155498,
        31.02458194,  24.57950067,  22.72277458,  14.91067549,
        25.85711282,  29.94875809,  44.43527888,  15.73857446,
        25.86550905,  26.38608207,  17.83292194,  15.26361827,
        16.01155722,  29.65564957,  22.08788392,   0.67880892,
         6.10499453,   6.0389711 ,  41.16587268,  23.84638595,
        12.36994896,  29.37099308,  18.57639932,  26.69104336,
        39.2397739 ,  14.83357484,  11.36667409,   9.34876287,
        37.64970563,  13.05967275,  16.89256734,   4.63128095,
        17.6852192 ,  -2.37078499,  24.3045513 ,  25.59744204,
        23.63257546,  20.36682568,  20.18678284,  -4.87547357,
         1.29995633,   1.2318696 ,  18.61733204,  19.75668299,
         5.14559367,  30.88905811,  33.75813629,  19.87398688,
        15.76242959,  11.51935508,  14.52379391,  17.69521753,
         9.53390571,  29.1132748 ,  15.11264169,  13.5785078 ,
         6.90399904,   8.58650789,  13.86967025,   5.48149796,
        27.24030937,  23.38025995,  19.06245227,   5.49352226,
        36.80836922,  -2.38869759,  25.57572099,  24.95143103,
        19.24755759,  24.17630786,   1.20010448,  -1.83688432,
        19.22588615,   9.450212  ,  24.56015171,  24.5890263 ,
        17.61443633,  35.01919298,  11.92857931,  16.6951417 ,
         8.20563545,  10.44466562,  15.82515608,  26.41765369,
        32.16654638,  23.02409762,  12.54248364,   7.74355178,
        11.58888756,  21.7915565 ,  13.34320039,  28.47902774,
        15.80352929,  14.00406862,  24.83162041,  10.24358812,
        10.05880986,  32.38367443,  11.54648748,  24.44058617,
         8.91618205,  -6.40594398,  27.26868767,   5.89533119,
        22.83218255])

In [17]:
loss=0.0
for i in range(error.shape[0]):
  if(error[i]<0):
    loss=loss+-1*0.95*error[i]
  else:
    loss=loss+(1)*error[i]*(0.05)
loss/error.shape[0]

1.4079345716592235